
@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
@import url("reset.scss");
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


:root {
--body-typeface: 'Ubuntu', sans-serif;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  font-family: var(--body-typeface);
}



/* heading style */
h1,
h2,
h3,h4, h5 {
  //font-family: "Rock Salt", cursive;
  margin-bottom: .5em;
}


h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}



a{
  text-decoration: none;
  color: #333;
}

strong{
  font-weight: 900;
}


/* home page style */


.hero-branding {padding: 1em; color: white;}

.hero-branding, .login {width: 50%; height: 50vh;  padding: 2em; display: flex; flex-direction: row; justify-content: center;
align-items: center;}

.restaurant-diary{
  font-family: "Rock Salt", cursive;
}


.session-bg {
  min-height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/316293/login_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: row;
  align-items: center;
 padding: 3em;
 background-size: cover;
 align-items: center;
 justify-content: center;
 
}

.login {
  // display: flex;
  // align-items: center;
  // justify-content: center;
    width: 30%;
  // height: 100%;
   padding: 1em;
   background-color: white;
}

.sign-in-form { background: hotpink; width: 100%;}

.email, .password, .submit-button {margin-bottom: .3em;}

label, input {display: block; width: 98%; margin-bottom: .3em; font-family: var(--body-typeface); font-size: 1.4em;}


.container{
  padding: 3em;
  
}

  /* Outing Page */
  
  .outing-card{
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;
   
  }
  
  .outing-picture{
    width: 30%;
    background-color: yellow;
  
  }
  
  .outing-title{
    font-size: 2em;
  
  }
  
  .outing-details{
  
    background-color: lightblue;
    width: 70%;
    padding: 1em;
  
  }

  /* Restaurant Page */

  .restaurant-card{
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;
   
  }
  
  .restaurant-picture{
    width: 30%;
    background-color: yellow;

  
  }
  
  .restaurant-title{
    font-size: 2em;
  
  }
  
  .restaurant-details{
  
    background-color: lightblue;
    width: 70%;
    padding: 1em;
  
  }

   /* Restaurant Food Page */

   .restaurant-food-card{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: red;
    
    


   }

   .grid-container{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
   
   }

   .grid-item{
      text-align: center;
   }


  